{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["import", "jsx-a11y", "react", "flowtype"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "google": false,
    "ga": false,
    "ta": false,
    "_ta": false,
    "FB": true,
    "safari": true,
    "branch": true
  },
  "extends": [
    "standard",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": [2, "always"],
    "array-callback-return": "error",
    "array-bracket-spacing": ["error", "never"],
    "default-case": ["error", { "commentPattern": "^no default$" }],
    "eqeqeq": ["error", "allow-null"],
    "guard-for-in": "error",
    "no-cond-assign": ["error", "always"],
    "no-extra-label": "error",
    "no-labels": ["error", { "allowLoop": false, "allowSwitch": false }],
    "no-loop-func": "error",
    "no-mixed-operators": ["error", {
      "groups": [
        ["&", "|", "^", "~", "<<", ">>", ">>>"],
        ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
        ["&&", "||"],
        ["in", "instanceof"]
      ],
      "allowSamePrecedence": false
    }],
    "no-native-reassign": "error",
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ],
    "object-curly-spacing": ["error", "always"],
    "no-script-url": "error",
    "no-unused-expressions": ["error", {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "no-unused-labels": "error",
    "no-unused-vars": ["error", {
      "vars": "local",
      "varsIgnorePattern": "^_",
      "args": "none"
    }],
    "no-use-before-define": ["error", "nofunc"],
    "no-useless-concat": "error",
    "no-useless-rename": ["error", {
      "ignoreDestructuring": false,
      "ignoreImport": false,
      "ignoreExport": false
    }],
    "operator-assignment": ["error", "always"],
    "radix": "error",
    "require-yield": "error",
    "strict": ["error", "never"],
    "valid-typeof": "error",
    "import/no-webpack-loader-syntax": "error",
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-no-duplicate-props": ["error", { "ignoreCase": true }],
    "react/jsx-no-undef": "error",
    "react/jsx-pascal-case": ["error", {
      "allowAllCaps": true,
      "ignore": []
    }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-danger-with-children": "error",
    "react/no-deprecated": "warn",
    "react/no-direct-mutation-state": "error",
    "react/no-is-mounted": "error",
    "react/react-in-jsx-scope": "error",
    "react/require-render-return": "error",
    "react/style-prop-object": "error",
    "react/jsx-curly-spacing": ["error", "always"],
    "react/jsx-tag-spacing": ["error", { "beforeClosing": "never" }],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "jsx-a11y/aria-role": "error",
    "jsx-a11y/alt-text": "error",
    "jsx-a11y/img-redundant-alt": "error",
    "jsx-a11y/no-access-key": "error",
    "flowtype/define-flow-type": "error",
    "flowtype/require-valid-file-annotation": "error",
    "flowtype/use-flow-type": "error",
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0,
    "react/jsx-no-target-blank": 0,
    "react/display-name": 0,
    "jsx-quotes": ["error", "prefer-double"],
    "indent": ["error", 2]
  }
}
